<h2><%= @list.name %></h2>

<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"><%= @movies.find(bookmark.movie_id).rating %> <%= @movies.find(bookmark.movie_id).title %></li>
    <li class="list-group-item"><%= bookmark.comment %></li>
     <li class="list-group-item">
      <%= link_to "Remove",
                  bookmark_path(bookmark),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add a bookmark', new_list_bookmark_path(@list) %>
<%= link_to "Back to the list", lists_path %>
